@import 'var.scss';

body{
  display: block;
  min-height: 100%;
  background-color: $color-background;
}

page{
  display: block;
  min-height: 100%;
  color: $color-content; font-size: 14px;
  background-color: $color-background;
}
image{
  vertical-align: middle;
}

.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.radius{border-radius: 50%;}

.ellipsis{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

