@import "var";

/************************** 自定义
*/
.q-btn-mini{
  font-size: 14px;
  border:1px solid $color-border; border-radius: 40rpx;

  &::after{
    display: none;
  }
}

/******** check radio switch
*/
$radio: 22px;
.q-radio,.q-radio-text{
  display: inline-block;
  position: relative;
  height: $radio;
  vertical-align: middle;

  &::before{
    content: ""; box-sizing: border-box;
    position: absolute; top: 2px; left: 2px;
    width: $radio - 4px; height: $radio - 4px;
    border: 1px solid $color-border;
    border-radius: 2px;
    background-color: #fff;
  }
  &.radio::before{
    border-radius: 50%;
  }
  &.disabled,&[disabled]{
    color: $color-disabled;
    opacity: .79;
    
    &::before{
      background-color: $color-background-disabled;
    }
  }
  icon{
    display: none;
    position: absolute; top: ($radio - 12px)/2; left: ($radio - 12px)/2;
  }
  &.checked icon,&[checked] icon{
    display: block;
  }
}
.q-radio{
  width: $radio;
}
.q-radio-text{
  padding-left: $radio + 5px;
  font-size: 14px; line-height: $radio;
}


$switch: 22px;
$switchWidth: $switch * 2 + 6px;
.q-switch{
  display: inline-block; vertical-align: middle; overflow: hidden;
  position: relative;
  width: $switchWidth; height: $switch;
  background-color: $color-disabled;
  border-radius: $switch / 2;
  transition: all .3s ease;

  &::before{
    position: absolute; top: 2px; left: 2px;
    content: ""; box-sizing: border-box;
    width: $switch - 4px; height: $switch - 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s ease;
  }
  &.checked,&[checked]{
    background-color: $color-title;
    &::before{
      transform: translateX($switchWidth - $switch);
    }
    text{
      transform: translateX(-15%);
    }
  }
  text{
    display: block;
    font-size: 14px; color: #fff; line-height: $switch - 2px; text-align: center;
    opacity: .89;
    transform: translateX(15%);
  }
}

