$w: 750rpx;

.q-grids{
  overflow: hidden;
  position: relative;
  display: flex; flex-wrap: wrap;
  background-color: white;
}

.q-grid{
  box-sizing: border-box;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  width: 25%; min-height: $w/4;
}




