
/** 主色：灰色grey */
$grey50: #FAFAFA;
$grey300: #E0E0E0;
$grey: #9E9E9E;
$grey700: #616161;
$grey900: #212121;

$green: #1DB954;
$red: #C00;

/** 颜色设置 */
$primarycolor: #212121;
$bgcolor: #FAFAFA;
$bordercolor: #E0E0E0;

$btnBgColor: #212121;
$btnBgColorHover: #282828;







