
function classCount(id, archive) {
  return 'Array' === archive.class[id].constructor ? archive.class[id].length : 0
}
function modeCount(type, archive) {
  return 'Array' === archive.mode[type].constructor ? archive.mode[type].length : 0
}


module.exports = {
  classCount: classCount,
  modeCount: modeCount
}