// todo 归档数量
function todoCount(key, values) {
  return 'Array' === values[key].constructor ? values[key].length : 0
}

// 获取 todo 当前状态
function getStatus(todo) {
  var now = getDate().getTime()
  var start = getDate(todo.startAt.iso).getTime()
  var end = getDate(todo.endAt.iso)

  return todo.doneAt ? {
    code: 'done',
    text: '已完成'
  } : end <= now ? {
    code: 'expired',
    text: '已过期'
  } : start > now ? {
    code: 'do',
    text: '未开始'
  } : {
    code: 'doing',
    text: '进行中'
  }
}

// 获取 todo 优先级
function getPriority(num) {
  return ['普通', '重要', '紧急', '重要且紧急'][parseInt(num, 10)] || '普通'
}

// 获取 todo follower数量
function getFollowerCount(follower) {
  return 'Array' === follower.constructor ? follower.length : 1
}

function getArchiveTodo(list) {
  var todos = {
    "do": [],
    "doing": [],
    "done": [],
    "expired": []
  }
  var dt = getDate()
  var now = dt.getTime()
  var t1 = getDate(dt.getFullYear(), dt.getMonth(), dt.getDate())
  var t2 = t1 + 1000 * 60 * 60 * 24

  list.reduce(function(acc, v, k) {
    if (v.doneAt) {
      todos['done'].push(v)
    } else {
      var startAt = getDate(v.startAt.iso).getTime()
      var endAt = getDate(v.endAt.iso).getTime()
      if (endAt < now) {
        todos['expired'].push(v)
      } else {
        if (endAt > now && startAt < now) {
          todos['doing'].push(v)
        }
        if ((endAt > t1 && endAt < t2) || (startAt > t1 && startAt < t2)) {
          todos['today'].push(v)
        }
      }
    }
  }, 0)
  return todos
}

module.exports = {
  getStatus: getStatus,
  getPriority: getPriority,
  getFollowerCount: getFollowerCount,
  getArchiveTodo: getArchiveTodo,
  todoCount: todoCount
}