@charset "UTF-8";
/** 主色：灰色grey */
/** 颜色设置 */
body {
  display: block;
  min-height: 100%;
  background-color: #FAFAFA; }

page {
  display: block;
  min-height: 100%;
  color: #424242;
  font-size: 14px;
  background-color: #FAFAFA; }

.green {
  color: #1DB954; }

.red {
  color: #C00; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.radius {
  border-radius: 50%; }

.q-anite-rotate {
  -webkit-animation: rotate360 .5s linear infinite;
          animation: rotate360 .5s linear infinite; }

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.q-anite-fadein {
  -webkit-animation: fadein .3s ease;
          animation: fadein .3s ease; }

.q-anite-fadeout {
  -webkit-animation: fadeout .3s ease;
          animation: fadeout .3s ease; }

.q-anite-slideInLeft {
  -webkit-animation: inLeft .6s ease;
          animation: inLeft .6s ease; }

.q-anite-slideInRight {
  -webkit-animation: inRight .6s ease;
          animation: inRight .6s ease; }

.q-anite-slideInTop {
  -webkit-animation: inTop .6s ease;
          animation: inTop .6s ease; }

.q-anite-slideInBottom {
  -webkit-animation: inBottom .6s ease;
          animation: inBottom .6s ease; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes inLeft {
  from {
    -webkit-transform: translate3d(-60rpx, 0, 0);
            transform: translate3d(-60rpx, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes inLeft {
  from {
    -webkit-transform: translate3d(-60rpx, 0, 0);
            transform: translate3d(-60rpx, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes inRight {
  from {
    -webkit-transform: translate3d(60rpx, 0, 0);
            transform: translate3d(60rpx, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes inRight {
  from {
    -webkit-transform: translate3d(60rpx, 0, 0);
            transform: translate3d(60rpx, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes inTop {
  from {
    -webkit-transform: translate3d(0, -60rpx, 0);
            transform: translate3d(0, -60rpx, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes inTop {
  from {
    -webkit-transform: translate3d(0, -60rpx, 0);
            transform: translate3d(0, -60rpx, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes inBottom {
  from {
    -webkit-transform: translate3d(0, 60rpx, 0);
            transform: translate3d(0, 60rpx, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes inBottom {
  from {
    -webkit-transform: translate3d(0, 60rpx, 0);
            transform: translate3d(0, 60rpx, 0);
    opacity: 0; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; } }

.q-anite-pageIn {
  -webkit-animation: pageIn .3s ease-in;
          animation: pageIn .3s ease-in; }

@-webkit-keyframes pageIn {
  from {
    -webkit-transform: translateY(35%) scale(0.4);
            transform: translateY(35%) scale(0.4);
    opacity: .5; }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; } }

@keyframes pageIn {
  from {
    -webkit-transform: translateY(35%) scale(0.4);
            transform: translateY(35%) scale(0.4);
    opacity: .5; }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; } }

.weui-flex__middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

/** 主色：灰色grey */
/** 颜色设置 */
.q-page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: center;
  color: #9E9E9E;
  font-size: 16px; }
  .q-page-loading-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    -webkit-animation: rotate360 .5s linear infinite;
            animation: rotate360 .5s linear infinite; }

/** 主色：灰色grey */
/** 颜色设置 */
.q-page-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 995;
  background-color: #FAFAFA; }

/** 主色：灰色grey */
/** 颜色设置 */
button {
  font-size: 16px; }

button[loading][type="primary"], button[type="primary"] {
  background-color: #212121; }

.button-hover[loading][type="primary"], .button-hover[type="primary"] {
  background-color: #282828; }

.weui-input {
  font-size: 14px; }

.input-placeholder {
  color: #9E9E9E; }

.weui-cell:before {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5); }

.q-btn-mini {
  font-size: 14px;
  border: 1px solid #E0E0E0;
  border-radius: 40rpx; }
  .q-btn-mini::after {
    display: none; }
