@import '../comm/var';
.user-set{
  position: absolute; top: 50%; left: 15%; right: 15%;
  transform: translate3d(0, -50%, 0);
  font-size: 14px;

  .title{
    margin-bottom: 60rpx;
    font-size: 18px; text-align: center;
  }
  .weui-flex{
    margin-bottom: 60rpx;
    color: $color-sub;
  }

  .item-hd{
    margin-right: 12rpx;
    font-size: 16px;
  }

  .select{
    line-height: 28px; text-align: center;
    border: 1px solid $color-border; border-radius: 40rpx;

    &-hover{
      background-color: $color-disabled;
      color: $color-content;
    }
  }
  .error{
    min-height: 22px;
    margin: 20rpx 0 0 30rpx;
    color: $red;
  }
}

.user-time{
  margin: 30rpx 5% 0;

  .head{
    font-size: 16px; text-align: center;
    margin-bottom: 40rpx;
  }
  .column{
    font-size: 14px;
    margin-bottom: 30rpx;
    
    @media screen and (max-width: 360px) {
      font-size: 12px;
    }
  }
  .cells{
    display: flex;
  }
  .cell{
    margin-left: -1rpx; padding: 10rpx 0;
    text-align: center;
    border: 1rpx solid $color-border;

    &:nth-child(1) {
      width: 15%;
      margin-left: 0;
    }
    &:nth-child(2) {
      width: 17%;
    }
    &:nth-child(3) {
      width: 20%;
    }
    &:nth-child(4) {
      width: 23%;
    }
    &:nth-child(5) {
      width: 25%;
    }
  }
  .title{
    margin-bottom: 20rpx;
  }
  .name{
    font-size: 12px; color: $color-sub;
  }
}

.user-go{
  margin-top: 80rpx;
  text-align: center;

  button{
    width: 40%;
  }
  navigator{
    display: inline-block;
    width: 40%;
    padding: 8rpx 0;
    color: $color-title;
    border: 1rpx solid $color-btn; border-radius: 36rpx;
    background-color: $color-background;

    &.hover{
      color: #fff;
      background-color: $color-btn;
    }
  }
}